# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
venv/
ENV/
.venv/
env.bak/
.venv.bak/

# Configuration and secret files
*.env
config.yaml  # Exclude the configuration file with secrets
*.ini
*.cfg

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and debugging files
*.log
*.out
*.err
logs/
debug/

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.idea/
.vscode/
*.swp
*.swo
*.tmp

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
.nosetests.xml
coverage.xml
*.cover

# Test results
*.pytest_cache/
junit.xml

# Distribution/build artifacts
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# Package manager files
*.lock
__pypackages__/

# PyInstaller
*.manifest
*.spec

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# FastAPI-related
*.db

# project specific local file
cast_key.txt